a {
  text-decoration: none;
  // color: $color__link;

  &:visited {
    text-decoration: none;
    // color: $color__link-visited;
  }
  &:hover,
  &:focus,
  &:active {
    text-decoration: none;
    // color: $color__link-hover;
  }
  &:focus {
    text-decoration: none;
    // outline: thin dotted;
  }
  &:hover,
  &:active {
    text-decoration: none;
    // outline: 0;
  }
}
